body{
        text-align: left;
        margin: 100px;
    }
.color1 {
    margin: 50px;
}
.pic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.text1 {
    text-align: center;
}
.pic2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text2 {
    text-align: center;
}
.color2 {
    margin: 50px;
}
.color3 {
    margin: 50px;
}